{{ define "body_classes" }}page-default-list{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

<div class="container pt-6 pb-md-12">
  <div class="row">
    {{ range .Paginator.Pages }}
    <div>

      <hr />
      {{ .Render "summary" }}
    
      {{ if .Truncated }}
      <a href="{{ .RelPermalink }}">Read More ...</a><p />
      {{ end }}    

    </div>
   {{ end }}
  </div>


{{ if gt $.Paginator.TotalPages 1 }}
<div class="pagination">
  <br />Page: 
  {{ $pag := .Paginator }}

  {{ $adjacent_links := 1 }}
  {{ $max_links := (add (mul $adjacent_links 2) 1) }}
  {{ $lower_limit := (add $adjacent_links 1) }}
  {{ $upper_limit := (sub $pag.TotalPages $adjacent_links) }}

  {{ if $pag.HasPrev }}
  <a href="{{ $pag.Prev.URL }}" aria-label="Previous" class="page-tag">&lt;</a>&nbsp;
  {{ end }}

  <!-- First page (if current page is greater than allowed limit) -->
  {{ if gt $pag.TotalPages $max_links }}
    {{ if ge $pag.PageNumber $max_links }}
    <a href="{{ $pag.First.URL }}" aria-label="First" class="page-tag">1</a>&nbsp;
    <span>...</span>
    {{ end }}
  {{ end }}

  <!-- Iterate the pager to show pages within ruleset -->
  {{ range $pag.Pagers }}
    {{ $.Scratch.Set "page_number_flag" false }}

    <!-- Identify if the current page is within the ruleset to be shown (or not) -->
    {{ if gt $pag.TotalPages $max_links }}
      {{ if le $pag.PageNumber $lower_limit }}
        {{ if le .PageNumber $max_links }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}
      {{ else if ge $pag.PageNumber $upper_limit }}
        {{ if gt .PageNumber (sub $pag.TotalPages $max_links) }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}
      {{ else }}
        {{ if and ( ge .PageNumber (sub $pag.PageNumber $adjacent_links) ) ( le .PageNumber (add $pag.PageNumber $adjacent_links) ) }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}

    {{ if eq ($.Scratch.Get "page_number_flag") true }}
    <a href="{{ .URL }}" aria-label="{{ .PageNumber }}" class="page-tag{{ if eq . $pag }} current{{ end }}">{{ .PageNumber }}</a>
    {{ end }}
  {{ end }}

  <!-- Show the last page index -->
  {{ if gt $pag.TotalPages $max_links }}
    {{ if le $pag.PageNumber (sub $pag.TotalPages (sub $max_links 1)) }}
    <span>...</span>
    <a href="{{ $pag.Last.URL }}" aria-label="Last" class="page-tag">{{ $pag.TotalPages }}</a>
    {{ end }}
  {{ end }}

  {{ if $pag.HasNext }}
  <a href="{{ $pag.Next.URL }}" aria-label="Next" class="page-tag">&gt;</a>&nbsp;
  {{ end }}
</div>
{{ end }}

<p />

</div>
{{ end }}

