<div class="summary">
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>

    <p>Posted in: 
    {{ with .Params.categories }}
        {{range .}}
        <a href="/categories/{{ . | urlize }}">{{ . }}</a>&nbsp;&nbsp;
        {{end}}
    {{ end }}
    <br />
    Tags: 
    {{ with .Params.tags }}
        {{range .}}
        <a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;&nbsp;
        {{end}}
    {{ end }}
    <br />
    Author: {{ range .Param "authors" }}
          {{ . }}
	      {{ end }} | <time>{{ .PublishDate.Format "January 2, 2006" }}</time> | 
        {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes reading time{{ end }}
       </p>

    {{ .Content | truncate 250 " … " }}
</div>
